*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}

header{
  font-size:20px;
  height:20%;
}

header>h1{
  font-size:55px;
  display:inline-block;
}
#image{
  background:url(./assets/design1_image2.jpg);
  height:500px;
  background-size:100% 100%;
  background-position:center;
  background-repeat:no-repeat;
background-attachment:fixed;
position:relative;
}

#logo{

 /* background:url(./assets/Logo_Mighty ducks-01.png);
  background-repeat: no-repeat;
  background-size: contain;    !!!desaparece la imagen si la uso y aplico display flex o inline block*/
  height:300px;
  top:-25px;
  position:relative;
}
nav{
 top:-2px;
 right:55px;
 position:absolute;
  text-align:right;
}
nav>a{
 background-color:rgb(108, 216, 87);
 color:white;
  padding:10px 35px;
  margin:12px;
  text-decoration:none;
  font-size:35px;
  border:2px solid black;
  box-shadow:4px 6px 1px gray;
}
#titulomain{
  width:100%;
  margin-bottom:60px;
  font-size:40px;
  border:2px solid gray;
  background-color:black;
  color:white; 
}
#titulomain>h2{
  text-align:center;
}
#cuerpo{
margin-left:50px;
list-style:none;
display:flex;
}
#cuerpo2{
 font-size:30px;
  margin-left:100px;
}
article>ul{
  margin-bottom:15px;
}
.about-espaciado>h2{
margin-top:45px;
}
.about-espaciado>p{

  text-indent:70px;
}

#especial>h2{
  margin-top:0px;
}

nav >a.active{background: rgba(69, 69, 179);}