/*
desarrollado en un monitor FHD (1980x1080) por ahí en otra resolución puede que se vea levemente distinto, especialmente la ubicación de la tabla o el tamaño de los elementos ya que se trabajó mayormente con px.
*/


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body{
  font-family: sans-serif;
}

header>h1 {
  font-size: 3.5vw;
  font-style: oblique;
  /* lo deje en vw porque si me fijo en mi pc con px se ve de una forma con el monitor y en la note que uso otra resolución se ve más gigante*/
}

.image {
  background: url(../img/design1_image2.jpg);
  height: 350px;
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.inlineblock {
  display: inline-block;
}

#logo {
  /* background:url(./assets/Logo_Mighty ducks-01.png);
  background-repeat: no-repeat;
  background-size: contain;    !!!desaparece la imagen si la uso y aplico display flex o inline block*/
  height: 130px;
  top: -25px;
  position: relative;
}

#logo2 {
  /* background:url(./assets/Logo_Mighty ducks-01.png);
    background-repeat: no-repeat;
    background-size: contain;    !!!desaparece la imagen si la uso y aplico display flex o inline block*/
  height: 130px;
  top: -177px;
  left: 79px;
  position: relative;
}

#logo3 {
  /* background:url(./assets/Logo_Mighty ducks-01.png);
  background-repeat: no-repeat;
  background-size: contain;    !!!desaparece la imagen si la uso y aplico display flex o inline block*/
  height: 130px;
  top: -115px;
  left: 79px;
  position: relative;
}

nav {
  top: -25px;
  right: 55px;
  position: absolute;
  text-align: right;
  display: flex;
  flex-direction: row;
  
}

nav>a {
  background-color: rgb(108, 216, 87);
  color: white;
  padding: 3px 14px;
  margin: 12px;
  text-decoration: none;
  font-size:20px;
  border: 2px solid black;
  box-shadow: 4px 6px 1px gray;
  
}

.titulomain {
  width: 100%;
  margin-bottom: 60px;
  font-size: 1vw;
  /* lo deje en vw porque si me fijo en mi pc con px se ve de una forma con el monitor y en la note que uso otra resolución se ve más gigante*/
  border: 2px solid gray;
  background-color: black;
  color: white;
}

.titulomain>h2 {
  text-align: center;
}

.cuerpo {
  margin-left: 30px;
  display: flex;
}

.cuerpo2 {
  font-size: 20px;
  margin-left: 100px;
}

.cuerpo2>ul {
  list-style: none;
  margin-bottom: 21px;
}

.lista>ul {
  margin-bottom: 15px;
  list-style: none;
}

.about-espaciado>h2 {
  margin-top: 45px;
}

.about-espaciado>p {
  text-indent: 50px;
}

nav>a.active {
  background: rgba(69, 69, 179);
}

.policy>li {
  padding: 13px 13px;
}

.centrado {
  padding-top: 2%;
  position: relative;
  bottom: 41px;
  height: 10%;
}

.centrado>h2,
h3,
h4 {
  text-align: center;
  padding: 10px;
}

.estructura>h3 {
  padding: 19px 13px;
  text-align: left;
}

.estructura {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 60px;
}

.estructura>ul {
  list-style-type: circle;
  padding-left: 12%;
}

.left h4,
p {
  text-align: left;
  padding-top: 10px;
}

th {
  text-align: left;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  /* lo corrí 50 px xq sino me aparece un desbordado a la derecha al usar el flex en la página rules */
  left: -50px;
}

table {
  margin-top: 20px;
  position: relative;
  right: -27%;
  width: 61vw;
}

td {
  width: 71px;
  height: 2.5em;
}

.play-means>ul {
  position: relative;
  left: 3%;
  list-style-type: circle;
}

caption {
  text-align: left;
  margin-bottom: 5px;
}

.textodown>h3 {
  margin-top: 50px;

  position: relative;
}

.textodown {
  padding-top: 10px;
}

.textodown>p {
  margin-left: 10px;
}

.espaciado2 h3 {
  display: inline-block;
  margin-right: 100px;
}

#centrado-rules {
  position: relative;
  top: -61px;
}

#tabla-ubicacion {
  position: relative;
  top: 65px;
}

#tabla-ubicacion>h3,
i {
  text-align: left;
  position: relative;
}

@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}

fieldset{
  border: none;
  margin-bottom: 20px;
}
fieldset>legend{
  
  margin-bottom: 10px;
}

